{% extends 'base.html.twig' %}

{% block body %}

<header class="container-fluid uni-background-1 text-center pt-5">
    <div class="text-center">
        <!-- Page title -->
            <div class="mx-auto">
                <h1 class="text-center" style="color:white;font-family:Arial;font-size:35px;font-weight:bold;">MEDECINS D'ILE-DE-FRANCE</h1>
                <div class="row text-white h1"><hr><i class="fas fa-hand-holding-medical"></i><hr></div>
            </div>
        <!-- End page title -->

    </div>
</header>

        {# {{dump(tabMed.records[7])}} #}

        {# Règle de parcours du tableau d'une api pour parcourir TOUTES les données #}

        {# Si la propriété contient plusieurs [], parcourir la propriété avec for sans faire mention du [] et ce également pour les sous-propriétés  
        exemple for item in tabMed.features ET item.properties.c_nom #}

<div class="shadow-lg p-3 bg-white rounded mt-3 mx-auto" style="margin-bottom:-50px;height:200px;">

    <form class="align-items-center mx-auto text-center hide" name="regionSelect" method="post">
            <div class="row col-sm-12">
                <div class="form-group text-warning h4 col-sm-6 mx-auto">
                  <label for="inputRegion">Choisissez une région</label>
                  <select data-region="{{dataRegion}}" id="inputRegion" name="region[code]" class="form-control btnRegion">
                    <option selected>Choisissez une région...</option>
                    {% for region in regions %}
                    <option data-name="{{region.name}}" value="{{region.code}}">{{region.name}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
    </form>
    
    <form action="{{path('medecins')}}" class="align-items-center mx-auto text-center" name="departementSelect" method="post">
            <div class="row col-sm-12">
                <div class="form-group h4 text-danger col-md-6 mx-auto">
                  <label for="inputDpt">Choisissez un département</label>
                  <select id="inputDpt" data-dpt="{{dataDpt}}" name="departement" class="btnDpt form-control">
                  
                    {# permet de garder en memoire le département sélectionné après le traitement php #}
                    {% if choixDep != "" %}
                    
                    {% for departement in departements %}
                    
                    {% if choixDep == departement.name %}
                        {% set selection = "selected" %}
                        {% else %}
                        {% set selection = "" %}
                    {% endif %}
                    
                    <option {{selection}} value="{{departement.regionCode}}-{{departement.code}}">{{departement.name}}</option>
                    {% endfor %}
                    
                    {% else %}
                    <option selected>Choisissez un département...</option>
                    {% for departement in departements %}
                    <option class="text-danger" selected value="{{departement.regionCode}}-{{departement.code}}">{{departement.name}}</option>
                    {% endfor %}
                    
                    
                    {% endif %}
                  </select>
                </div>
            </div>
            <div id="mondiv" class="hide">
                <input data-dep="{{path("medecins")}}" id="submitDep" class="btn btn-dark text-dark depJs" type="submit"/>
            </div>
    </form>

    <form class="mb-5" action="{{path('medecins')}}" class="align-items-center text-center" name="villeSelect" method="post" class="villeJs" >
            <div class="row col-sm-12">
                <div class="form-group h4 text-info col-md-6 mx-auto text-center">
                  <label for="inputVille">Choisissez une Ville</label>
                  <select id="inputVille" name="ville[code]" data-city="{{dataVille}}" class="btnVille form-control">
                    
                    {# permet de garder en memoire la ville sélectionnée après le traitement php #}
                    {% if choixDep != "" %}
                    
                    {% for codeVille in codeVilles %}
                    {% if choixVille == codeVille.ville %}
                    {% set selection = "selected" %}
                    {% else %}
                    {% set selection = "" %}
                    {% endif %}
                    <option {{selection}} id="optionVille" class="optionId" data-ville="{{codeVille.ville}}" data-id="{{codeVille.id}}" value="{{codeVille.codePostal}}-{{ codeVille.codePostal|striptags|slice(0, 2)|raw }}">{{codeVille.ville}}-{{codeVille.codePostal}}</option>
                    {% endfor %}
                    
                    
                    {% else %}
                    <option selected>Choisissez une ville...</option>
                    {% endif %}

                  </select>
                </div>
            </div>
            <div class="mb-2">
            </div>
            <div id="madiv" class="hide">
                <input data-ville="{{path("medecins")}}" id="submitVille" class="btn btn-dark text-dark villeJs" type="submit"/>
            </div>

    </form>
</div>

<div class="uni-services">
    <div id="wrapper-container" class="site-wrapper-container">


        <div id="main-content" class="site-main-content">
            <section class="site-content-area">

                <div class="uni-services-body">

                    <!--OUR SERVICES 2-->
                    <div class="uni-our-services-2 uni-background-1">
                        <div class="container">

                            {% if codePostal != "" or codeDep != "" %}
                            {% for key, item in tabMed.records %}

                            
                            {% if item.fields.code_postal == codePostal or item.fields.code_postal|striptags|slice(0, 2)|raw  == codeDep %}
                            
                            {% if item.fields.record_timestamp is defined %}<div class="text-right">Dernière mise à jour : {{item.fields.record_timestamp}}</div>{% endif %}
                            <div class="mb-2" style="box-shadow:5px 5px 5px black;border-radius:15px;background-color:beige;">
                                <p class="card-text h1 p-2" style=""><span class="text-danger h5">Nom et spécialité du médecin :<br></span>{{item.fields.nom|upper}}, {% if item.fields.libelle_profession is defined %}{{item.fields.libelle_profession}}{% endif %}</p>
                                <div class="ml-2 pb-3 text-center"> Convention : {{item.fields.convention}}</div>
                            </div>

                            <div class="uni-our-service-2-body" style="box-shadow:5px 5px 5px black;border-radius:5px;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="tab-nav">
                                            <ul class="nav-pills nav-stacked">
                                                <li class="active"><a href="#tab_a{{key}}" data-toggle="pill">Carte et Adresse</a></li>
                                                <li><a href="#tab_b{{key}}" data-toggle="pill">Actes pratiqués</a></li>
                                                <li><a href="#tab_d{{key}}" data-toggle="pill">Renseignements divers</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_a{{key}}">
                                                <div class="uni-our-service-2-content-default">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                                <div class="mapouter"><div class="gmap_canvas"><iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q={{item.fields.adresse}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="1" scrolling="no" marginheight="0" marginwidth="0"></iframe><br></div></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="item-caption">
                                                                <div class="item-caption-title">
                                                                    <h3>ADRESSE</h3>
                                                                    <div class="uni-line"></div>
                                                                </div>
                                                                <div>{{item.fields.adresse}}</div>
                                                                
                                                                <hr class="text-black">

                                                                {% if item.fields.telephone is defined %}
                                                                <div class="item-caption-title mt-2">
                                                                    <h3>TEL.</h3>
                                                                    <div class="uni-line"></div>
                                                                    
                                                                </div>
                                                                <div><i class="fas fa-phone-square-alt"></i> {{item.fields.telephone}}</div>
                                                                {% endif %}
                                                                
                                                                <hr>
                                                                
                                                                <div class="mx-auto"><button class="btn btn-primary mx-auto"><a class="text-white" href="https://www.doctolib.fr/doctors/{{item.fields.nom}}">VOIR LE MEDECIN SUR DOCTOLIB</a></button></div>
                                                                
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="tab-pane" id="tab_b{{key}}">
                                                <div class="uni-our-service-2-content-default">
                                                    <div class="row">
  
                                                        <div class="col-md-12">
                                                            <div class="item-caption">
                                                                <div class="item-caption-title mt-3">
                                                                    <h3>ACTES PRATIQUES</h3>
                                                                    <div class="uni-line"></div>
                                                                </div>

                                                                {% if item.fields.actes is defined or item.fields.types_actes is defined %}
                                                                
                                                                {% if item.fields.actes is defined %} <span class="text-primary h4">Actes</span> <div class="mb-4" style="height:100px;overflow:auto">{{item.fields.actes}}</div>{% endif %}
                                                                {% if item.fields.types_actes is defined %} <span class="text-primary h4">Type</span> <div style="height:100px;overflow:auto">{{item.fields.types_actes}}</div>{% endif %}
                                                                {% else %}
                                                                <span class="text-primary h4">Aucun acte renseigné.</span> 
                                                                
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            <div class="tab-pane" id="tab_d{{key}}">
                                                <div class="uni-our-service-2-content-default">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="item-caption">
                                                                <div class="item-caption-title mt-3">
                                                                    <h3>INFORMATIONS DIVERSES</h3>
                                                                    <div class="uni-line"></div>
                                                                </div>
                                                                    <li class="list-group-item">
                                                                    <div class="text-white mb-2 p-1" style="background-color:blue; border-radius:5px;">Informations diverses </div>
                                                                    <div>{{item.fields.sesam_vitale}}</div>
                                                                    <div>Code profession : {{item.fields.code_profession}}</div>
                                                                    </li>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5"><hr></div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            
                            
                        </div>
                    </div>

                </div>
            </section>
        </div>

        <footer class="site-footer footer-default" style="margin-top:-100px;">
            <div class="footer-main-content">
                <div class="container">
                    <div class="row">
                        <div class="footer-main-content-elements">
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                <h3 class="widget-title uni-uppercase text-center">Médecins <span>d'Ile-de-France</span></h3>
                                    <div class="widget-title uni-uppercase"><a href="#" class="row text-white h1"><hr><i class="fas fa-hand-holding-medical"></i><hr></a></div>
                                    <div class="widget-content">


                                    </div>
                                </aside>
                            </div>
                            <div class="footer-main-content-element col-md-6 col-sm-12">


                                <aside class="widget">
                                    <h3 class="widget-title uni-uppercase text-center">D'OU PROVIENNENT<span> LES DONNEES ?</span></h3>
                                    
                                    <div class="text-white text-center">L’ensemble des données est disponible en open data sur ce lien : 
                                    <a href="https://www.data.gouv.fr/fr/datasets/annuaire-et-localisation-des-professionnels-de-sante-en-ile-de-france/"> https://www.data.gouv.fr/fr/datasets/annuaire-et-localisation-des-professionnels-de-sante-en-ile-de-france/</a>
                                    
                                    </div>
                                </aside>
                            </div>
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                    <div class="widget-title uni-uppercase"><a href="#"><img src="images/logowhite.png" alt="" class="img-responsive"></a></div>
                                    <div class="widget-content">
                                        <p>
                                            Application développée par Chantal M., développeuse web - web mobile
                                        </p>
                                        <div class="uni-info-contact">
                                            <ul>
                                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:chantal@netteweb.fr"> chantal@netteweb.fr</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
</div>




<script src="{{asset("geomed.js")}}"></script>
{% endblock %}
