{% extends 'medBase.html.twig' %}

{% block body %}

<header class="container-fluid uni-background-1 text-center pt-5">
    <div class="text-center">
        <!-- Page title -->
            <div class="mx-auto">
                <h1 class="text-center" style="color:white;font-family:Arial;font-size:35px;font-weight:bold;">CHOISISSEZ VOTRE CENTRE DE VACCINATION</h1>
                <div class="row text-white h1"><hr><i class="fas fa-hand-holding-medical"></i><hr></div>
            </div>

        <!-- End page title -->


    </div>
</header>

        {{dump(tabMed.features[4])}}

        {# Règle de parcours du tableau d'une api pour parcourir TOUTES les données #}

        {# Si la propriété contient plusieurs [], parcourir la propriété avec for sans faire mention du [] et ce également pour les sous-propriétés  
        exemple for item in tabMed.features ET item.properties.c_nom #}

<div class="shadow-lg p-3 bg-white rounded mt-3 mx-auto w-50" style="margin-bottom:-50px;">

    <form class="align-items-center mx-auto text-center" name="regionSelect" method="post">
            <div class="row col-sm-12">
                <div class="form-group text-warning h4 col-sm-6 mx-auto">
                  <label for="inputRegion">Choisissez une région</label>
                  <select data-region="{{dataRegion}}" id="inputRegion" name="region[code]" class="form-control btnRegion">
                    <option selected>Choisissez une région...</option>
                    {% for region in regions %}
                    <option data-name="{{region.name}}" value="{{region.code}}">{{region.name}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
    </form>
    
    <form action="{{path('med')}}" class="align-items-center mx-auto text-center" name="departementSelect" method="post">
            <div class="row col-sm-12">
                <div class="form-group h4 text-danger col-md-6 mx-auto">
                  <label for="inputDpt">Choisissez un département</label>
                  <select id="inputDpt" data-dpt="{{dataDpt}}" name="departement" class="btnDpt form-control">
                  
                    {# permet de garder en memoire le département sélectionné après le traitement php #}
                    {% if choixDep != "" %}
                    
                    {% for departement in departements %}
                    
                    {% if choixDep == departement.name %}
                        {% set selection = "selected" %}
                        {% else %}
                        {% set selection = "" %}
                    {% endif %}
                    
                    <option {{selection}} value="{{departement.regionCode}}-{{departement.code}}">{{departement.name}}</option>
                    {% endfor %}
                    
                    {% else %}
                    <option selected>Choisissez un département...</option>
                    {% for departement in departements %}
                    <option class="text-danger" selected value="{{departement.regionCode}}-{{departement.code}}">{{departement.name}}</option>
                    {% endfor %}
                    
                    
                    {% endif %}
                  </select>
                </div>
            </div>
            <div id="mondiv" class="hides">
                <input data-dep="{{path("med")}}" id="submitDep" class="btn btn-dark text-dark depJs" type="submit"/>
            </div>
    </form>

    <form class="mb-5" action="{{path('med')}}" class="align-items-center text-center" name="villeSelect" method="post" class="villeJs" >
            <div class="row col-sm-12">
                <div class="form-group h4 text-info col-md-6 mx-auto text-center">
                  <label for="inputVille">Choisissez une Ville</label>
                  <select id="inputVille" name="ville[code]" data-city="{{dataVille}}" class="btnVille form-control">
                    
                    {# permet de garder en memoire la ville sélectionnée après le traitement php #}
                    {% if choixDep != "" %}
                    
                    {% for codeVille in codeVilles %}
                    {% if choixVille == codeVille.ville %}
                    {% set selection = "selected" %}
                    {% else %}
                    {% set selection = "" %}
                    {% endif %}
                    <option {{selection}} id="optionVille" class="optionId" data-ville="{{codeVille.ville}}" data-id="{{codeVille.id}}" value="{{codeVille.codePostal}}-{{ codeVille.codePostal|striptags|slice(0, 2)|raw }}">{{codeVille.ville}}-{{codeVille.codePostal}}</option>
                    {% endfor %}
                    
                    
                    {% else %}
                    <option selected>Choisissez une ville...</option>
                    {% endif %}

                  </select>
                </div>
            </div>
            <div id="madiv" class="hide">
                <input data-ville="{{path("med")}}" id="submitVille" class="btn btn-dark text-dark villeJs" type="submit"/>
            </div>

    </form>
</div>

<div class="uni-services">
    <div id="wrapper-container" class="site-wrapper-container">


        <div id="main-content" class="site-main-content">
            <section class="site-content-area">

                <div class="uni-services-body">

                    <!--OUR SERVICES 2-->
                    <div class="uni-our-services-2 uni-background-1">
                        <div class="container">

                            {% if codePostal != "" or codeDep != "" %}
                            {% for key, item in tabMed.features %}

                            
                            {% if item.properties.c_com_cp == codePostal or item.properties.c_com_cp|striptags|slice(0, 2)|raw  == codeDep %}
                            
                            <div class="text-right">Dernière mise à jour : {{item.properties.c__edit_datemaj}}</div>
                            <div class="mb-2" style="box-shadow:5px 5px 5px black;border-radius:15px;background-color:beige;">
                                <p class="card-text h1 p-2" style=""><span class="text-danger h5">Centre de vaccination :<br></span>{{item.properties.c_nom|upper}}</p>
                            </div>

                            <div class="uni-our-service-2-body" style="box-shadow:5px 5px 5px black;border-radius:5px;">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="tab-nav">
                                            <ul class="nav-pills nav-stacked">
                                                <li class="active"><a href="#tab_a{{key}}" data-toggle="pill">Carte et Adresse</a></li>
                                                <li><a href="#tab_d{{key}}" data-toggle="pill">Itinéraire</a></li>
                                                <li><a href="#tab_b{{key}}" data-toggle="pill">Jours et heures disponibles</a></li>
                                                <li><a href="#tab_c{{key}}" data-toggle="pill">Prendre rendez-vous</a></li>
                                                <li><a href="#tab_e{{key}}" data-toggle="pill">Structure de dépendance</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_a{{key}}">
                                                <div class="uni-our-service-2-content-default">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                                <div class="mapouter"><div class="gmap_canvas"><iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q={{item.properties.c_adr_num}}{{item.properties.c_adr_voie}}{{item.properties.c_com_cp}}{{item.properties.c_com_nom}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="1" scrolling="no" marginheight="0" marginwidth="0"></iframe><br></div></div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="item-caption">
                                                                <div class="item-caption-title">
                                                                    <h3>ADRESSE</h3>
                                                                    <div class="uni-line"></div>
                                                                </div>
                                                                <div>{{item.properties.c_adr_num}} {{item.properties.c_adr_voie}}</div>
                                                                <div>{{item.properties.c_com_cp}} {{item.properties.c_com_nom}}</div>
                                                                {% if item.properties.c_lieu_accessibilite == "OUI" %}
                                                                <div><i class="fas fa-wheelchair"></i>Adapté aux personnes à mobilité réduite </div>
                                                                {% endif %}
                                                                <div class="item-caption-title mt-5">
                                                                    <h3>TEL.</h3>
                                                                    <div class="uni-line"></div>
                                                                </div>
                                                                <div><i class="fas fa-phone-square-alt"></i> {{item.properties.c_rdv_tel}}</div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_b{{key}}">
                                                <div class="uni-our-service-2-content-default">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="item-caption">
                                                                <div style="margin-bottom:-50px;">
                                                                    <div class="uni-services-opinging-hours">
                                                                        <div class="uni-services-opinging-hours-title">
                                                                            <div class="icon">
                                                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                                            </div>
                                                                            <h4>Jours et heures disponibles</h4>
                                                                        </div>
                                                                        <div class="mx-auto">
                                                                            <table class="table text-center" width="50%">
                                                                                <tbody>
                                                                                {% if item.properties.c_rdv_lundi != "" %}
                                                                                <tr>
                                                                                    <td>Lundi</td>
                                                                                    <td>{{item.properties.c_rdv_lundi}}</td>
                                                                                </tr>
                                                                                {% endif %}
                                                                                {% if item.properties.c_rdv_mardi != "" %}
                                                                                <tr>
                                                                                    <td>Mardi</td>
                                                                                    <td>{{item.properties.c_rdv_mardi}}</td>
                                                                                </tr>
                                                                                {% endif %}
                                                                                {% if item.properties.c_rdv_mercredi != "" %}
                                                                                <tr>
                                                                                    <td>Mercredi</td>
                                                                                    <td>{{item.properties.c_rdv_mercredi}}</td>
                                                                                </tr>
                                                                                {% endif %}
                                                                                {% if item.properties.c_rdv_jeudi != "" %}
                                                                                <tr>
                                                                                    <td>Jeudi</td>
                                                                                    <td>{{item.properties.c_rdv_jeudi}}</td>
                                                                                </tr>
                                                                                {% endif %}
                                                                                {% if item.properties.c_rdv_vendredi != "" %}
                                                                                <tr>
                                                                                    <td>Vendredi</td>
                                                                                    <td>{{item.properties.c_rdv_vendredi}}</td>
                                                                                </tr>
                                                                                {% endif %}
                                                                                {% if item.properties.c_rdv_samedi != "" %}
                                                                                <tr>
                                                                                    <td>Samedi</td>
                                                                                    <td>{{item.properties.c_rdv_samedi}}</td>
                                                                                </tr>
                                                                                {% endif %}
                                                                                {% if item.properties.c_rdv_dimanche != "" %}
                                                                                <tr>
                                                                                    <td>Dimanche</td>
                                                                                    <td>{{item.properties.c_rdv_dimanche}}</td>
                                                                                </tr>
                                                                                {% endif %}

                                                                            </tbody></table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_c{{key}}">
                                                <div class="uni-our-service-2-content-default">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="item-img">
                                                                <figure>
                                                                    <img src="medicare/images/perso/doctor.jpg"
                                                                        alt="Doctolib"  class="img-responsive w-75">
                                                                    <figcaption>Source: Doctolib</figcaption>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="item-caption">
                                                                <div class="item-caption-title">
                                                                    <h3>PRENDRE RENDEZ-VOUS AVEC DOCTOLIB</h3>
                                                                    <div class="uni-line"></div>
                                                                </div>
                                                                <p class="">
                                                                <span class="text-primary h4">Vaccination :</span> 
                                                                <div>Prenez rendez-vous en ligne.
                                                                De nombreux créneaux sont disponibles partout en France. Le délai entre 2 doses étant raccourci, vous pouvez être complètement vacciné avant fin juillet.                                                                
                                                                Les adultes et les mineurs de 12-17 ans sont éligibles à la vaccination.
                                                                </div>
                                                                </p>
                                                                <button class="btn btn-primary"><a class="text-white" href="{{item.properties.c_rdv_site_web}}">PRENDRE RENDEZ-VOUS DANS CE CENTRE DE VACCINATION</a></button>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_d{{key}}">
                                                <div class="uni-our-service-2-content-default">
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            <div class="item-img">
                                                                <img src="images/services/img3.jpg" alt="" class="img-responsive">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-7">
                                                            <div class="item-caption">
                                                                <div class="item-caption-title">
                                                                    <h3>ITINERAIRE</h3>
                                                                    <div class="uni-line"></div>
                                                                </div>
                                                                <div>
                                                                <div id="geolocHref"><i class="fas fa-crosshairs mb-1"></i>Votre position</div>
                                                                <div class="input-group mb-3">
                                                                  <span class="input-group-text" id="inputGroup-sizing-default">Départ</span>
                                                                  
                                                                  <input type="text" id="geoloc" value="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                                                </div>
                                                                
                                                                <div class="input-group mb-3">
                                                                  <span class="input-group-text" id="inputGroup-sizing-default">Arrivée</span>
                                                                  <input type="text" class="form-control" aria-label="Sizing example input" value="{{item.properties.c_adr_num}} {{item.properties.c_adr_voie}} {{item.properties.c_com_cp}} {{item.properties.c_com_nom}}" 
                                                                  aria-describedby="inputGroup-sizing-default">
                                                                </div>
                                                                
                                                                <a class="btn btn-danger boutonItin" id="boutonItin" href="" data-itin="{{item.properties.c_adr_num}} {{item.properties.c_adr_voie}} {{item.properties.c_com_cp}} {{item.properties.c_com_nom}}">VOIR L'ITINERAIRE GOOGLE MAP</a>
                                                                
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab_e{{key}}">
                                                <div class="uni-our-service-2-content-default">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="item-caption">
                                                                <div class="item-caption-title">
                                                                    <h3>STRUCTURE DE DEPENDANCE</h3>
                                                                    <div class="uni-line"></div>
                                                                </div>
                                                                    <li class="list-group-item">
                                                                    <div class="text-white mb-2 p-1" style="background-color:blue; border-radius:5px;">Structure : </div>
                                                                    <div>{{item.properties.c_structure_rais}}</div>
                                                                    <div> {{item.properties.c_structure_num}} {{item.properties.c_structure_voie}}</div>
                                                                    <div>{{item.properties.c_structure_cp}} {{item.properties.c_structure_com}}</div>
                                                                    </li>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5"><hr></div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            
                            
                        </div>
                    </div>

                </div>
            </section>
        </div>

        <footer class="site-footer footer-default">
            <div class="footer-main-content">
                <div class="container">
                    <div class="row">
                        <div class="footer-main-content-elements">
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                    <div class="widget-title uni-uppercase"><a href="#"><img src="images/logowhite.png" alt="" class="img-responsive"></a></div>
                                    <div class="widget-content">
                                        <p>
                                            Pellentesque habitant morbi tristique senectus et netus et malesuada fame ac
                                            turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.
                                        </p>
                                        <div class="uni-info-contact">
                                            <ul>
                                                <li> <i class="fa fa-map-marker" aria-hidden="true"></i> 45 Queen's Park Rd, Brighton,  UK</li>
                                                <li><i class="fa fa-phone" aria-hidden="true"></i> (094) 123 4567 - (094) 123 4568</li>
                                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> medicareplus@domain.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title uni-uppercase">quick links</h3>
                                    <div class="widget-content">
                                        <div class="uni-quick-link">
                                            <ul>
                                                <li><a href="#"><span>+</span> Home</a></li>
                                                <li><a href="#"><span>+</span> about</a></li>
                                                <li><a href="#"><span>+</span> services</a></li>
                                                <li><a href="#"><span>+</span> timetable</a></li>
                                                <li><a href="#"><span>+</span> blog</a></li>
                                                <li><a href="#"><span>+</span> contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title uni-uppercase">latest posts</h3>
                                    <div class="widget-content">
                                        <div class="uni-footer-latest-post">
                                            <ul>
                                                <li>
                                                    <h4><a href="#">Lorem ipsum dolor sit amet, consectetuer</a></h4>
                                                    <span class="time">june 12, 2017</span>
                                                </li>
                                                <li>
                                                    <h4><a href="#">Aliquam tincidunt mauris eu risus amet</a></h4>
                                                    <span class="time">june 12, 2017</span>
                                                </li>
                                                <li>
                                                    <h4><a href="#">Morbi in sem quis dui placerat ornare column</a></h4>
                                                    <span class="time">june 12, 2017</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="footer-main-content-element col-md-3 col-sm-6">
                                <aside class="widget">
                                    <h3 class="widget-title uni-uppercase">News<span>letter</span></h3>
                                    <div class="widget-content">
                                        <div class="uni-footer-newletter">
                                            <div class="input-group">
                                                <input type="email" class="form-control" placeholder="Enter your email">
                                                <button class="btn btn-sub" type="submit">subscribe</button>
                                            </div>
                                            <div class="uni-social">
                                                <h4>Follow us</h4>
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
</div>




<script src="{{asset("geolocalisation.js")}}"></script>
{% endblock %}
